.main-video video {
    width: 98%; /* Adjust width to account for equal margins */
    height: auto;
    margin: -6% 1%;
    position: sticky;
    z-index: -1;
    top: 50px;
}

h1 {
    color: #ffa31a;
    margin-top: 1%;
    font-size: xxx-large;
    margin-left: 1%;
}

#car-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between boxes */
    justify-content: center; /* Center the boxes */
    margin: 20px 0;
}

.car {
    width: 320px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 10px solid #ffa31a;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    text-align: center;
    margin: 1% 1% 1% 1%;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.car img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.car h2 {
    font-size: 20px;
    color: #333;
    margin-top: 10px;
}

.car-info {
    position: absolute; /* Position the overlay inside the car box */
    top: 0;
    left: 0;
    width: 100%; /* Fill the entire box */
    height: 100%; /* Fill the entire box */
    background-color: rgb(0, 0, 0);
    color: #ffa31a;
    display: flex;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth fade-in effect */
    padding: 10px;
    justify-content: center;
}

.car-info table {
    border: 2px solid #ffa31a;
    border-collapse: collapse;
}

.car-info th,td{
    border: 2px solid #ffa31a;
    padding: 2px; /* Add some padding for better spacing */
}

.car-info caption{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.car:hover .car-info {
    opacity: 1; /* Make the overlay visible */
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 0.80em;
    font-style: italic;
    border-top: 5px solid #ffa31a;
}